:root {
    /* Brand Colors */
    --primary-color: #99772F;
    /* Dark Slate */
    --accent-color: #F59E0B;
    --white: #ffffff;
    --black: #1C1817;
    --container-padding: 20px;
    --transition: all 0.3s ease;
}

/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    font-family: 'Urbanist', sans-serif;
    color: var(--black);
    line-height: 1.6;
    background-color: var(--white);

    overflow: hidden;
    max-width: 100vw;

}

/* Prevent body scrolling when menu is open */
body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

main,
footer,
header {
    a {
        transition: var(--transition);

        * {
            transition: var(--transition);
        }
    }

    a:hover {
        color: var(--accent-color);

        * {
            fill: var(--accent-color);
            color: var(--accent-color);
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: var(--transition);
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:hover {
    background-color: #1d4ed8;
}

.btn-outline {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* =========================================
   MOBILE FIRST (Default Styles - Column 3)
   ========================================= */

/* Header */
.header {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;

    max-width: 1440px;
    margin: 0 auto;

    * {
        color: var(--white);
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

/* Mobile Menu (Hidden by default) */
.main-nav {
    position: fixed;
    top: 0;
    /* Adjust based on header height */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    transform: translateX(100%);
    /* Hidden to the right */
    transition: transform 0.3s ease-in-out;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

/* Mobile Menu Open State (Column 4 in Figma) */
.main-nav.active {
    transform: translateX(0);
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.main-nav a {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.btn-nav {
    background-color: var(--primary-color);
    color: var(--white) !important;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
}

/* Hamburger Icon */
.menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;

    background: linear-gradient(180deg, #D0AC5F 0%, #96742C 100%);

    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
}

.close-menu {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;

    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    display: none;
}

/* Hamburger Animation */
.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.hero {
    position: relative;
    height: 600px;

    transform: translateY(-110px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./src/imagens/png-jpg/hero.png');

    .hero-video-wrapper {
        display: none;
    }

    * {
        position: relative;
        z-index: 2;
        color: var(--white);
    }

    .hero-content {
        width: 96%;
        margin: 0 auto;
        padding-top: 200px;

        .hero-title {
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            color: var(--white);

            max-width: 700px;
            margin-right: auto;

            text-align: center;
        }

        .hero-matriz {
            margin-top: 1rem;
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;

            display: inline-block;
            transform: translateX(calc(50vw - 50% - 24px));
        }

        .hero-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;

            .hero-description-text {
                size: 20px;
                font-weight: 800;
                max-width: 400px;
                text-align: center;
            }

            .hero-btn {
                position: relative;
                margin-top: 2rem;

                span {
                    padding: 12px 12px 14px 12px;
                    border-radius: 60px;
                    border: 1px solid var(--primary-color);
                    line-height: 0.9;
                    height: 48px;
                    margin-right: 48px;
                }

                i {
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid var(--primary-color);
                    height: 44px;
                    width: 44px;
                    right: 0px;
                    top: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        z-index: 1;
    }
}

@media (min-width: 540px) {
    .hero {
        height: 900px;

        .hero-content {
            padding-top: 300px;

            .hero-title {
                font-size: 80px;
                line-height: 96px;
                text-align: left;
            }

            .hero-matriz {
                font-size: 20px;
                font-weight: 800;

                transform: unset;
            }

            .hero-description {
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 50px;

                .hero-description-text {
                    text-align: left;
                }

                .hero-btn {
                    margin-top: 2rem;

                    span {
                        padding: 12px 12px 14px 12px;
                    }

                }
            }
        }
    }
}

@media (min-width: 960px) {
    .hero {
        background-image: none;

        .hero-video-wrapper {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            overflow: hidden;

            .hero-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero-content {
            .hero-description {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 100px;

                .hero-description-text {
                    text-align: left;
                }

                .hero-btn {
                    margin-top: 0;

                    span {
                        padding: 16px 16px 18px 16px;
                    }

                    i {

                        height: 54px;
                        width: 54px;
                        right: -8px;
                        top: -13px;
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------- sobre-nos ---------------------------------------------- */
.sobre-nos {
    position: relative;

    * {
        color: var(--black);
    }

    .sobre-nos-content {
        width: 96%;
        margin: 0 auto;
        padding-bottom: 100px;
        display: flex;
        justify-content: space-between;

        align-items: center;
        flex-direction: column;


        .sobre-nos-header {
            width: 100%;

            .sobre-nos-subtitle {
                font-size: 32px;
                font-weight: 800;
                line-height: 44px;
                text-align: center;
            }

            .sobre-nos-title {
                font-size: 12px;
                font-weight: 800;

                display: inline-block;
                transform: translateX(calc(50vw - 50% - 24px));

                margin-bottom: 2.5rem;

                text-transform: uppercase;
            }
        }

        .sobre-nos-grid {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-align: center;
            gap: 2.5rem;

            margin-top: 2.5rem;

            h3 {
                font-size: 40px;
                line-height: 56px;
                font-weight: 800;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 800;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url('./src/imagens/logos-patterns/pattern-horizontal.svg');
        background-repeat: repeat-x;
        background-position: top;
        width: 100%;
        height: 100%;
        left: 0;
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url('./src/imagens/logos-patterns/pattern-horizontal.svg');
        background-repeat: repeat-x;
        background-position: bottom;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

@media (min-width: 540px) {
    .sobre-nos {
        margin-bottom: 100px;

        .sobre-nos-content {
            align-items: flex-start;
            padding-bottom: 0;

            .sobre-nos-header {
                width: auto;
                margin-bottom: 2.5rem;

                .sobre-nos-subtitle {
                    font-size: 40px;
                    line-height: normal;
                    text-align: left;
                }

                .sobre-nos-title {
                    transform: unset;
                    margin-bottom: 0;
                }
            }

            .sobre-nos-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5rem;
                text-align: left;
                margin-top: 0;

                h3 {
                    font-size: 72px;
                    line-height: normal;
                }

                p {
                    font-size: 20px;
                    line-height: normal;
                }
            }

        }

        &::before {
            top: -132px;
        }

        &::after {
            top: 132px;
        }
    }

}

@media (min-width: 960px) {
    .sobre-nos {
        .sobre-nos-content {
            flex-direction: row;

            .sobre-nos-header {
                margin-bottom: 0;
            }

            .sobre-nos-grid {
                gap: 2rem;
            }


        }

        &::before {
            background-position: center;
            top: unset;
        }

        &::after {
            display: none;
            top: unset;
        }
    }
}

@media (min-width: 1440px) {
    .sobre-nos {
        .sobre-nos-content {
            &::before {
                background-position: center;
                top: unset;
                width: 100vw;
                left: -50vw;
                transform: translateX(720px);
            }
        }
    }
}

/* ---------------------------------------------- clientes ---------------------------------------------- */
.clientes {
    background-color: #eaeaea;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    * {
        color: var(--black);
    }

    .clientes-header {
        margin: 0 0 2rem 2rem;

        transform: translateX(calc(50vw - 50% - 24px));

        .clientes-title {
            font-size: 12px;
            font-weight: 800;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .clientes-content {
        .clientes-carousel-wrapper {
            overflow: hidden;
            width: 100%;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 100px;
                height: 100%;
                z-index: 2;
                pointer-events: none;
            }

            &::before {
                left: 0;
                background: linear-gradient(to right, #eaeaea, transparent);
            }

            &::after {
                right: 0;
                background: linear-gradient(to left, #eaeaea, transparent);
            }
        }

        .clientes-carousel {
            display: flex;
            gap: 60px;
            animation: scroll-infinite 30s linear infinite;
            width: fit-content;

            img {
                height: 64px;
                flex-shrink: 0;
                object-fit: contain;
            }
        }
    }
}

@media (min-width: 540px) {
    .clientes {
        height: 312px;

        .clientes-header {
            transform: unset;
            margin: 0 0 4rem 2rem;
        }
    }
}

/* ---------------------------------------------- servicos ---------------------------------------------- */
.servicos {
    margin-top: 100px;

    .servicos-content {
        display: flex;
        width: 96%;
        margin: 0 auto;
        justify-content: space-between;
        flex-direction: column;

    }

    .servicos-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        h2 {
            font-size: 30px;
            font-weight: 800;
            line-height: 44px;
            margin-bottom: 1rem;
            text-align: center;
        }

        .servicos-subtitle {
            font-size: 18px;
            font-weight: 800;
            line-height: 28px;
            text-align: center;
        }
    }

    .servicos-cards {
        display: flex;
        flex-direction: column;
        width: 100%;

        .servicos-card {
            margin-bottom: 3rem;

            .counter-number {
                font-size: 12px;
                font-weight: 800;
                line-height: 16px;
                margin-bottom: .25rem;
            }

            .card-title {
                font-size: 20px;
                font-weight: 800;
                line-height: 36px;
                margin-bottom: 1rem;
            }

            img {
                width: 100%;
                aspect-ratio: 16/9;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 540px) {
    .servicos {
        .servicos-header {
            margin-right: 2rem;

            h2 {
                font-size: 56px;
                line-height: 72px;
                text-align: left;
            }

            .servicos-subtitle {
                text-align: left;
            }
        }

        .servicos-cards {
            .servicos-card {
                .card-title {
                    font-size: 28px;
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .servicos {
        .servicos-content {
            flex-direction: row;
        }

        .servicos-header {
            width: 50%;
            margin-right: 0;
            padding-right: 2rem;
        }

        .servicos-cards {
            width: 50%;

        }

        .pin-spacer {
            width: 50% !important;
        }
    }
}

/* ---------------------------------------------- setores ---------------------------------------------- */
.setores {
    width: 100vw;
    background-color: #140D00;
    padding-top: 100px;

    * {
        color: var(--white);
    }

    .setores-content {
        width: 96%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url('./src/imagens/logos-patterns/pattern.svg');
            background-repeat: repeat-y;
            background-position: left;
            width: 100%;
            height: 76%;
            left: 0;
            top: 12%;
            z-index: 0;
        }
    }

    .setores-header {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 2rem;
        margin-bottom: 3rem;

        h2 {
            font-size: 32px;
            font-weight: 800;
            line-height: 44px;
            margin-bottom: 1rem;
            text-align: center;
        }

        .setores-subtitle {
            font-size: 18px;
            font-weight: 800;
            line-height: 28px;
            text-align: center;
        }
    }

    .setores-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 1;

        .setores-card {
            background-color: #221B0F;
            border-radius: 16px;
            padding: 1rem;
            margin-bottom: 4rem;

            .card-title {
                font-weight: 800;
                font-size: 24px;
                line-height: 38px;
                margin: 1rem 0;
            }

            .card-description {
                font-weight: 300;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0;
            }

            img {
                width: 100%;
                aspect-ratio: 16/9;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 540px) {
    .setores {
        .setores-header {
            width: 100%;
            margin-right: 2rem;

            h2 {
                font-size: 56px;
                line-height: 72px;
                text-align: left;
            }

            .setores-subtitle {
                text-align: left;
            }
        }

        .setores-cards {
            .setores-card {
                .card-title {
                    font-size: 28px;
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .setores {
        .setores-content {
            flex-direction: row;
        }

        .setores-header {
            width: 50%;
            margin-right: 0;
            padding-right: 2rem;
        }

        .setores-cards {
            width: 50%;

        }

        .pin-spacer {
            width: 50% !important;
        }
    }
}

/* ---------------------------------------------- avaliacao ---------------------------------------------- */
.avaliacao {
    display: flex;
    flex-direction: column;
    color: var(--black);
    width: 96%;
    margin: 0 auto;

    .avaliacao-header {
        margin: 4rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .avaliacao-title {
            font-weight: 800;
            font-size: 32px;
            line-height: 44px;
            max-width: 420px;
            text-align: center;
            margin-bottom: 1rem;
        }

        .avaliacao-subtitle {
            font-weight: 800;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
        }

    }

    .avaliacao-cards-section {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;


        .avaliacao-section-image {
            width: 98%;
            max-width: 420px;
            margin: 0 auto;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 8px;
        }

        .avaliacao-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;

            .avaliacao-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 8px;
                border: 1px solid #E7E5E4;
                padding: 1rem;

                .quote-text {
                    font-weight: 500;
                    font-style: Italic;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 1rem;
                }

                .author-info {
                    display: flex;

                    .author-name,
                    .author-role {
                        font-weight: 800;
                        font-size: 15.6px;
                        line-height: 22.4px;
                    }

                    img {
                        width: 48px;
                        height: 48px;
                        border-radius: 8px;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 540px) {
    .avaliacao {
        display: flex;
        flex-direction: column;
        color: var(--black);
        width: 96%;
        margin: 0 auto;

        .avaliacao-header {
            margin: 100px 0 40px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .avaliacao-title {
                font-weight: 800;
                font-size: 56px;
                line-height: 72px;
                max-width: 420px;
                text-align: left;
            }

            .avaliacao-subtitle {
                font-weight: 800;
                font-size: 18px;
                line-height: 72px;
            }

        }

        .avaliacao-cards-section {
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            .avaliacao-section-image {
                max-width: unset;
                aspect-ratio: 8/3;
            }

            .avaliacao-cards {


                .avaliacao-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 8px;
                    border: 1px solid #E7E5E4;
                    padding: 1rem;

                    .quote-text {
                        font-weight: 800;
                        font-size: 19.2px;
                        line-height: 26px;
                        min-height: 100px;
                    }

                    .author-info {
                        display: flex;

                        .author-name,
                        .author-role {
                            font-weight: 800;
                            font-size: 15.6px;
                            line-height: 22.4px;
                        }

                        img {
                            width: 48px;
                            height: 48px;
                            border-radius: 8px;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .avaliacao {
        display: flex;
        flex-direction: column;
        color: var(--black);
        width: 96%;
        margin: 0 auto;

        .avaliacao-header {
            margin: 100px 0 40px 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .avaliacao-title {
                font-weight: 800;
                font-size: 56px;
                line-height: 72px;
                max-width: 420px;
                text-align: left;
            }

            .avaliacao-subtitle {
                font-weight: 800;
                font-size: 18px;
                line-height: 72px;
            }

        }

        .avaliacao-cards-section {
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            flex-direction: row;

            .avaliacao-section-image {
                width: 30%;
                max-width: 420px;
                margin-left: auto;
                aspect-ratio: 3/4;
                object-fit: cover;
                height: 100%;
                border-radius: 8px;
            }

            .avaliacao-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2rem;
                row-gap: 1.5rem;

                .avaliacao-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 8px;
                    border: 1px solid #E7E5E4;
                    padding: 1rem;
                    height: 100%;

                    .quote-text {
                        font-weight: 800;
                        font-size: 19.2px;
                        line-height: 26px;
                    }

                    .author-info {
                        display: flex;

                        .author-name,
                        .author-role {
                            font-weight: 800;
                            font-size: 15.6px;
                            line-height: 22.4px;
                        }

                        img {
                            width: 48px;
                            height: 48px;
                            border-radius: 8px;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------- footer ---------------------------------------------- */
footer {
    padding-top: 100px;
    background-color: #1C1817;

    * {
        color: var(--white);
    }


    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        width: 96%;
        margin: 0 auto;
        flex-direction: column;
    }

    .footer-content-left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 0 auto 2rem auto;
        transform: translateX(1rem);

        .socials {
            a {
                margin-right: 2rem;
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }

    .footer-content-right {
        display: flex;
        gap: 3rem;
        flex-direction: column;

        .column {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .footer-bottom-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-bottom {
        padding: 40px 40px;
        background-color: #363130;
        margin-top: 40px;
    }
}

@media (min-width: 540px) {
    footer {
        .footer-content {
            align-items: center;
        }

        .footer-content-left {
            align-items: center;
            transform: unset;
        }

        .footer-content-right {
            gap: 2rem;
            flex-direction: row;
            margin-top: 2rem;
        }

        .footer-bottom-content {
            align-items: center;
            flex-direction: row;
            gap: 0;
        }

        .footer-bottom {
            margin-top: 100px;
        }
    }
}

@media (min-width: 960px) {
    footer {
        .footer-content {
            flex-direction: row;
        }

        .footer-content-left {
            margin-right: auto;
            margin-left: 0;
            justify-content: flex-start;
            height: 100%;
            align-items: flex-start;
        }

        .footer-content-right {
            margin-top: 0;
        }
    }
}

/* ---------------------------------------------- other ---------------------------------------------- */
@keyframes scroll-infinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.3333333%);
    }
}


@media (min-width: 960px) {

    .menu-toggle {
        display: none;
    }

    .main-nav {
        position: static;
        height: auto;
        width: auto;
        transform: none;
        background: none;
        padding: 0;
        display: block;
    }

    .main-nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .main-nav a {
        font-size: 1rem;
        font-weight: 500;
    }
}

/* ---------------------------------------------- utils classes---------------------------------------------- */
.active {
    display: block;
}

.bullet {
    position: relative;
    padding-left: 24px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 9px);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: linear-gradient(180deg, #D0AC5F 0%, #96742C 100%);
        /* Create a ring effect using mask - transparent center, gradient border */
        mask: radial-gradient(circle at center, transparent 4px, black 4px);
        -webkit-mask: radial-gradient(circle at center, transparent 4px, black 4px);
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}