:root {
    /* Brand Colors */
    --primary-color: #99772F;
    /* Dark Slate */
    --accent-color: #F59E0B;
    --white: #ffffff;
    --black: #1C1817;
    --container-padding: 20px;
    --transition: all 0.3s ease;
}

/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    font-family: 'Urbanist', sans-serif;
    color: var(--black);
    line-height: 1.6;
    background-color: var(--white);

    overflow-x: hidden;
    max-width: 100vw;

}

main,
footer,
header {
    a {
        transition: var(--transition);

        * {
            transition: var(--transition);
        }
    }

    a:hover {
        color: var(--accent-color);

        * {
            fill: var(--accent-color);
            color: var(--accent-color);
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: var(--transition);
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:hover {
    background-color: #1d4ed8;
}

.btn-outline {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* =========================================
   MOBILE FIRST (Default Styles - Column 3)
   ========================================= */

/* Header */
.header {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;

    max-width: 1440px;
    margin: 0 auto;

    * {
        color: var(--white);
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

/* Mobile Menu (Hidden by default) */
.main-nav {
    position: fixed;
    top: 0;
    /* Adjust based on header height */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    transform: translateX(100%);
    /* Hidden to the right */
    transition: transform 0.3s ease-in-out;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

/* Mobile Menu Open State (Column 4 in Figma) */
.main-nav.active {
    transform: translateX(0);
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.main-nav a {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.btn-nav {
    background-color: var(--primary-color);
    color: var(--white) !important;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
}

/* Hamburger Icon */
.menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;

    background: linear-gradient(180deg, #D0AC5F 0%, #96742C 100%);

    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
}

.menu-toggle img {}

.close-menu {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;

    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    display: none;
}

/* Hamburger Animation */
.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.hero {
    position: relative;
    height: 900px;

    transform: translateY(-110px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./src/imagens/png-jpg/hero.png');

    * {
        position: relative;
        z-index: 1;
        color: var(--white);
    }

    .hero-content {
        width: 96%;
        margin: 0 auto;
        padding-top: 300px;

        .hero-title {
            font-weight: 800;
            font-size: 80px;
            line-height: 96px;
            color: var(--white);

            max-width: 700px;
            margin-right: auto;
        }

        .hero-matriz {
            margin-top: 1rem;
            size: 20px;
            font-weight: 800;
        }

        .hero-description {
            display: flex;
            justify-content: space-between;
            margin-top: 100px;

            .hero-description-text {
                size: 20px;
                font-weight: 800;
                max-width: 400px;


            }

            .hero-btn {
                position: relative;

                span {
                    padding: 16px 16px 18px 16px;
                    border-radius: 60px;
                    border: 1px solid var(--primary-color);
                    line-height: 0.9;
                    height: 48px;
                    margin-right: 48px;
                }

                i {
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid var(--primary-color);
                    height: 48px;
                    width: 48px;
                    right: -2px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
}


.sobre-nos {
    position: relative;
    margin-bottom: 100px;

    * {
        color: var(--black);
    }

    .sobre-nos-content {
        width: 96%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;


        .sobre-nos-header {
            .sobre-nos-subtitle {
                font-size: 40px;
                font-weight: 800;
            }

            .sobre-nos-title {
                font-size: 12px;
                font-weight: 800;
            }
        }

        .sobre-nos-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            h3 {
                font-size: 72px;
                font-weight: 800;
            }

            p {
                font-size: 20px;
                font-weight: 800;
            }
        }

        &::before {
            content: '';
            position: absolute;
            background-image: url('./src/imagens/logos-patterns/pattern-horizontal.svg');
            background-repeat: repeat-x;
            background-position: center;
            width: 100%;
            height: 100%;
            left: 0;
        }
    }
}

.clientes {
    background-color: #eaeaea;
    width: 100vw;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    * {
        color: var(--black);
    }

    .clientes-header {
        margin: 0 0 4rem 2rem;
    }

    .clientes-content {
        .clientes-carousel-wrapper {
            overflow: hidden;
            width: 100%;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 100px;
                height: 100%;
                z-index: 2;
                pointer-events: none;
            }

            &::before {
                left: 0;
                background: linear-gradient(to right, #eaeaea, transparent);
            }

            &::after {
                right: 0;
                background: linear-gradient(to left, #eaeaea, transparent);
            }
        }

        .clientes-carousel {
            display: flex;
            gap: 60px;
            animation: scroll-infinite 30s linear infinite;
            width: fit-content;

            img {
                height: 64px;
                flex-shrink: 0;
                object-fit: contain;
            }
        }
    }
}

.servicos {
    margin-top: 100px;

    .servicos-content {
        display: flex;
        width: 96%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .servicos-header {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        margin-right: 2rem;

        h2 {
            font-size: 56px;
            font-weight: 800;
            line-height: 72px;
            margin-bottom: 1rem;
        }

        h4 {
            font-size: 18px;
            font-weight: 800;
            line-height: 28px;
        }
    }

    .servicos-cards {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;

        .servicos-card {
            margin-bottom: 3rem;

            .counter-number {
                font-size: 12px;
                font-weight: 800;
                line-height: 16px;
                margin-bottom: .25rem;
            }

            .card-title {
                font-size: 28px;
                font-weight: 800;
                line-height: 36px;
                margin-bottom: 1rem;
            }

            img {
                width: 100%;
                aspect-ratio: 16/9;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
}

.setores {
    width: 100vw;
    background-color: #140D00;
    padding-top: 100px;

    * {
        color: var(--white);
    }

    .setores-content {
        width: 96%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url('./src/imagens/logos-patterns/pattern.svg');
            background-repeat: repeat-y;
            background-position: left;
            width: 100%;
            height: 72%;
            left: 0;
            top: 14%;
        }
    }

    .setores-header {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        margin-right: 2rem;

        h2 {
            font-size: 56px;
            font-weight: 800;
            line-height: 72px;
            margin-bottom: 1rem;
        }

        h4 {
            font-size: 18px;
            font-weight: 800;
            line-height: 28px;
        }
    }

    .setores-cards {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;

        .setores-card {
            background-color: #221B0F;
            border-radius: 16px;
            padding: 2rem;
            margin-bottom: 4rem;

            .card-title {
                font-weight: 800;
                font-size: 28px;
                line-height: 38px;
                margin: 1rem 0;
            }

            .card-description {
                font-weight: 300;
                font-size: 24px;
                line-height: 32px;
            }

            img {
                width: 100%;
                aspect-ratio: 16/9;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
}

.avaliacao {
    display: flex;
    flex-direction: column;
    color: var(--black);
    width: 96%;
    margin: 0 auto;

    .avaliacao-header {
        margin: 100px 0 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .avaliacao-title {
            font-weight: 800;
            font-size: 56px;
            line-height: 72px;
            max-width: 420px;
        }

        h4 {
            font-weight: 800;
            font-size: 18px;
            line-height: 28px;
        }

    }

    .avaliacao-cards-section {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .avaliacao-section-image {
            width: 30%;
            max-width: 420px;
            margin-left: auto;
            aspect-ratio: 3/4;
            object-fit: cover;
            border-radius: 8px;
        }

        .avaliacao-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
            row-gap: 1.5rem;

            .avaliacao-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 8px;
                border: 1px solid #E7E5E4;
                padding: 1rem;

                .quote-text {
                    font-weight: 800;
                    font-size: 19.2px;
                    line-height: 26px;
                }

                .author-info {
                    display: flex;

                    .author-name,
                    .author-role {
                        font-weight: 800;
                        font-size: 15.6px;
                        line-height: 22.4px;
                    }

                    img {
                        width: 48px;
                        height: 48px;
                        border-radius: 8px;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

footer {
    padding-top: 100px;
    background-color: #1C1817;

    * {
        color: var(--white);
    }


    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 96%;
        margin: 0 auto;
    }

    .footer-content-left {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .socials {
            a {
                margin-right: 3rem;
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }

    .footer-content-right {
        display: flex;
        gap: 2rem;

        .column {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .footer-bottom-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bottom {
        padding: 40px 40px;
        background-color: #363130;
        margin-top: 100px;
    }
}

@keyframes scroll-infinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.3333333%);
    }
}


/* =========================================
   TABLET (min-width: 540px - Column 2)
   ========================================= */
@media (min-width: 540px) {

    .hero {}

    .services {}
}


/* =========================================
   DESKTOP (min-width: 960px - Column 1)
   ========================================= */
@media (min-width: 960px) {

    .container {}

    /* Reset Menu to Horizontal */
    .menu-toggle {
        display: none;
    }

    /* Hide hamburger */

    .main-nav {
        position: static;
        height: auto;
        width: auto;
        transform: none;
        background: none;
        padding: 0;
        display: block;
    }

    .main-nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .main-nav a {
        font-size: 1rem;
        font-weight: 500;
    }

    .hero {}

    .services {}
}


.active {
    display: block;
}

.bullet {
    position: relative;
    padding-left: 24px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 9px);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: linear-gradient(180deg, #D0AC5F 0%, #96742C 100%);
        /* Create a ring effect using mask - transparent center, gradient border */
        mask: radial-gradient(circle at center, transparent 4px, black 4px);
        -webkit-mask: radial-gradient(circle at center, transparent 4px, black 4px);
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}